@page "/edit-group/{id:int}"
@using UserGroupManagement.Client.Services
@using UserGroupManagement.Common.DTOs
@inject IGroupApiService groupApiService
@inject NavigationManager navigationManager

<h3>Edit Group</h3>

<EditForm Model="group" OnInvalidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <lable>Name:</lable>
        <InputText class="form-control" @bind-Value="group.GroupName" />
    </div>

    <div class="mb-3">
        <label>Members:</label>
        <select multiple class="form-control" @onchange="OnMembersChanged">
            @* @bind="@userIds" *@
            @foreach(var user in users)
            {
                <option value="@user.Id">@user.FirstName @user.LastName</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    private GroupDto group = new();
    private List<UserDto> users = new();
    private List<int> userIds = new();

    [Inject]
    public IUserApiService UserApiService { get; set; } = default;

    protected override async Task OnInitializedAsync()
    {
        //return base.OnInitializedAsync();

        users = await UserApiService.GetAllUsersAsync();

        var existing = await groupApiService.GetGroupByIdAsync(Id);
        if (existing != null){
            group = existing;
            userIds = group.Members.Select(prop => prop.Id).ToList();
        }
    }

    private void OnMembersChanged(ChangeEventArgs e)
    {
        var selectedOptions = (e.Value as IEnumerable<string>) ?? new[] { e.Value?.ToString() ?? "" };

        userIds = selectedOptions
                            .Where(id => !string.IsNullOrWhiteSpace(id))
                            .Select(int.Parse)
                            .ToList();

        group.Members = users.Where(p => userIds.Contains(p.Id))
                                    .ToList();
    }

    private async Task HandleValidSubmit()
    {
        group.Members = users.Where(p => userIds.Contains(p.Id)).ToList();

        await groupApiService.UpdateGroupAsync(group);
        navigationManager.NavigateTo("/groups");
    }
}
